venv/
DESD_2024/SmartCare/SCS/__pycache__/
DESD_2024/SmartCare/SCS/migrations/
DESD_2024/SmartCare/SCS/migrations/__pycache__/
DESD_2024/SmartCare/SmartCare/__pycache__/
Sprint Retrospective Contributions.md
