{% extends 'index.html' %}
{% block content%}
<button id="loginButton">Login</button>
<button id="RegisterButton">Register</button>

<script>
document.getElementById('loginButton').addEventListener('click', function() {
    
    
    window.location.href = 'login';
    this.style.display = 'none';
});
document.getElementById('RegisterButton').addEventListener('click', function() {
    // Redirect to the register page
    window.location.href = 'SCS/register/'; 
});
</script>


{% endblock %}