{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Smart Care</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        

        
        <link href="{% static 'style.css' %}" rel="stylesheet">

    </head>
    <body onresize="removeResponsiveMenu()">
      <header>
        <div id="logo_container">
            <h2 id="logo">SmartCare</h1>
            <div id="login_button">
                <button id="log_btn">
                    <a class = "white_a_style" href="/login">Login</a>
                </button>
            </div>
        </div>
        <div class = "navbar" id="mynavbar">
            <a class = "white_a_style" href="/">Home</a>
            <a class = "white_a_style" >Services</a>
            <a class = "white_a_style" >About</a>
        </div>
        <div id="menu_btn_container">
            <button id="menu_btn"><a class = "white_a_style" href="javascript:void(0);" onclick="showMenu()">Menu</a></button>
        </div>
              
      </header>
      <div id="overflow_navbar">
        <a class = "active" href="/">Home</a>
        <a>Services</a>
        <a>About</a>
        {% if user.is_authenticated %}
        <a>Logout</a>
        {% else %}
        <a>Login</a>
        {% endif %}
      </div> 

            {% block content%}

            {% endblock %}
        
   
    </body>
    <script>
      let menuVisible = false
      function showMenu() {
          var y = document.getElementById("overflow_navbar")
          if (menuVisible == false){
              y.style.display = "block"
              y.style.transition = "0.5s"
              menuVisible = true
              console.log(menuVisible)
          }else{
              y.style.display = "none"
              menuVisible = false
              console.log(menuVisible)
          }
      }

      function removeResponsiveMenu() {
          let w = window.outerWidth;
          var y = document.getElementById("overflow_navbar")
          if (w > 1000){
              y.style.display = "none"
              menuVisible = false
              console.log(menuVisible)
          }
      }
  </script>