{% extends 'index.html' %}
{% block content%}
<form id ="login-form" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputUsername1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputUsername1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" onclick="Click()" class="btn btn-primary">Login</button>
<form id="login-form" method="post" action="/login/">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    
    <button type="submit" onclick="return Click();">Login</button>
</form>


{% if check %}
{% if messages %}
{% for message in messages %}
  <div>{{ message }}</div>
{% endfor %}
{% endif %}
{% endif %}

<script>
function Click() {
    var username = document.forms["login-form"]["username"].value;
    var password = document.forms["login-form"]["password"].value;

    if (username === "") {
        alert("Username field should not be left empty!");
        return false; // Prevent form submission
    }
    if (password === "") {
        alert("Password field should not be left empty!");
        return false; // Prevent form submission
    }
    return true; // Allow form submission
}
</script>
{% endblock %}
