{% extends 'index.html' %}
{% block content %}
<form id="login-form" method="post" action="/login/">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputUsername1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputUsername1" placeholder="Username" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary" onclick="return Click();">Login</button>
</form>
<h5><a href={% url 'password_reset'%}>Reset Password</a></h5>

{% if check %}
{% if messages %}
{% for message in messages %}
  <div>{{ message }}</div>
{% endfor %}
{% endif %}
{% endif %}

<script>
function Click() {
  var username = document.forms["login-form"]["username"].value;
  var password = document.forms["login-form"]["password"].value;

  if (username === "") {
    alert("Username field should not be left empty!");
    return false; // Prevent form submission
  }
  if (password === "") {
    alert("Password field should not be left empty!");
    return false; // Prevent form submission
  }
  return true; // Allow form submission
}
</script>
{% endblock %}
