{% extends 'index.html' %}
{% block content%}
<form id ="login-form" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <select name="user_type">
        <option value="doctor">Doctor</option>
        <option value="patient">Patient</option>
        <option value="nurse">Nurse</option>
        <option value="nurse">Admin</option>
    </select>
    <button  onclick="Click()" >Login</button>
    
    
</form>
{% if check %}
{% if messages %}
{% for message in messages %}
  <div>{{ message }}</div>
{% endfor %}
{% endif %}
{% endif %}
<script>
    function Click() {
    var formData = new FormData(document.getElementById('login-form'));
    var token = "{{ csrf_token }}" ;
    //alert(formData)
    //alert(token)
    
    fetch('login', {
  method: 'POST',
  headers: {
        'X-CSRFToken': token
      },
  
  body: formData
})
.then(response => response.json())
.then(data => {
  if (data.success) {
    // redirecting depending on the user role and what dashboard they have access to 
    
    
    window.location.href = data.url;  
  } else {
    
    alert(data.error);
  }
});

}

</script>

{% endblock %}
