{% extends 'index.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  <p>Please enter a new password. </p>
  <h2>{{username}}</h2>  
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" name="password" class="form-control" id="exampleInputpassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
        <input type="text" name="password2" class="form-control" id="exampleInputpassword2">
    </div>
    <input value={{username}} name="username" type="hidden">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h2>{{message}}</h2>
{% endblock %}