{% extends 'index.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  <p>Please enter a new password. </p>
  <h2>{{username}}</h2>  
  <form method="POST" onsubmit="return checkPasswordMatch()">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputpassword1" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
        <input type="password" name="password2" class="form-control" id="exampleInputpassword2" required>
    </div>
    <input value={{username}} name="username" type="hidden">
    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
  </form>
  <h2>{{message}}</h2>
{% endblock %}
<script>
  function checkPasswordMatch() {
    var password = document.getElementById("exampleInputpassword1").value;
    var confirmPassword = document.getElementById("exampleInputpassword2").value;
    var submitBtn = document.getElementById("submitBtn");
    if (password !== confirmPassword) {
        // Passwords don't match
        alert("Passwords do not match!");
        submitBtn.disabled = true;
    } else {
        // Passwords match
        submitBtn.disabled = false;
    }
}
</script>