{% extends 'index.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputUsername1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputUsername1" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <h3>{{message}}</h3>
  </form>
{% endblock %}