{% extends 'index.html' %}
{% block content %}
<div class="reset_page_container">
    <div id="password_reset_container">
        {% csrf_token %}
        <h3>Please enter your username/email send the request to...</h3>
        <form id = "password_reset_form" method="post">
            <input type="text" id="username_fld" placeholder="Username...">
            <input id ="reset_pw_btn" type="submit" value="Reset Password">
        </form>    
        {% if check %}
        {% if messages %}
        {% for message in messages %}
          <div class="error_msg">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}