{% extends 'index.html' %}
{% block content%}
{% include 'CheckSession.html' %}
{% load static %}

<script src="{% static 'js/patient_dashboard.js' %}"></script>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Book Appointment</h2>
      <p>Book an appointment with a doctor or nurse</p>
      <form id ="patient-booking-form" method="post">
        {% csrf_token %}
        <label for="service">Service: </label>
        <div class="form-group">
          <select id="service" name="service" class="form-control" required>
            <option selected disabled hidden>Select a service</option>
            {% for service_id, service_name, service_duration in services %} 
              <option value="{{service_id}}">{{ service_name }}</li> 
            {% endfor %} 
          </select>
        </div>
        <br>
        <div class="form_group">
          <label for="bookingDate" id="bookingDateLabel">Date: </label>
          <input id="bookingDate" type="date" name="bookingDate" class="form-control" disabled>
        </div>
        <br>
        <div class="form_group">
          <label for="practitioner" id="practitionerLabel"  >Doctor/Nurse: </label>
          <select id="practitioner" name="practitioner" class="form-control" required disabled>
            <option selected disabled hidden>Select a Practitioner</option>
          </select>
        </div>  
        <br>
        <div class="form_group">
          <label for="timeSlot"  id="timeSlotLabel">Time Slot: </label>
          <select id="timeSlot" name="timeSlot" class="form-control" required disabled>
            <option selected disabled hidden>Select a Time Slot</option>
          </select>
        </div>  
        <br>
        <textarea name="reason" id="reason" class="form-control" rows="3" placeholder="Reason for appointment"></textarea>
        <br>
        <button class="btn btn-primary">Book Appointment</button>
    </form>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>My Invoices</h2>
        <p>View your issued invoices</p>
        <table class="table table-dark">
          <thead>
            <tr>
              <th >Service</th>
              <th>Amount</th>
              <th>Date Issued</th>
              <th>Invoice</th>
            </tr>
          </thead>
          <tbody>
            {% for service_name, amount, issue_date in invoices %}
              <tr>
                <td>{{service_name}}</td>
                <td>£{{amount}}</td>
                <td>{{issue_date}}</td>
                <td><a href="#">Download Invoice</a></td>
              </tr>
            {% endfor %}


<script>

document.addEventListener('DOMContentLoaded', function() {
    setDatePickerMinDateNow("bookingDate");
});

// Adding event listener that listens for changes in the service select element
document.getElementById("service").addEventListener("change", function (e) {
  e.preventDefault();
  bookingDate = document.getElementById("bookingDate");
  practitionerSelect = document.getElementById("practitioner");
  timeSlotSelect = document.getElementById("timeSlot");
  if (e.target.value == "") {
    var bookingDate = document.getElementById('bookingDate');
    var bookingDateLabel = document.getElementById('bookingDateLabel');
    bookingDate.disabled = true;
    bookingDate.innerHTML = createSelectPlaceholderElement("Select a Date");
    practitionerSelect.disabled = true;
    practitionerSelect.innerHTML = createSelectPlaceholderElement("Select a Practitioner");
    timeSlotSelect.disabled = true;
    timeSlotSelect.innerHTML = "";
    timeSlotSelect.add(createSelectPlaceholderElement("Select a Time Slot"));
    document.getElementById('practitionerLabel').hidden = true;
    
    return;
  }
  else if (bookingDate.value !== "" && bookingDate.disabled === false) {
    getPractitionersByDayAndService(e.target, bookingDate)
    timeSlotSelect.disabled = true;
    populateTimeSlots([]);
  }
  else{
  var bookingDate = document.getElementById('bookingDate');
  var bookingDateLabel = document.getElementById('bookingDateLabel');

  bookingDate.disabled = false;
  }
 });

// Adding event listener that listens for changes in the bookingDate input element
document.getElementById("bookingDate").addEventListener("change", function (e) {
  e.preventDefault();
  if (e.target.value === "") {
    var practitionerSelect = document.getElementById('practitioner');
    practitionerSelect.disabled = true;
    practitionerSelect.innerHTML = createSelectPlaceholderElement("Select a Date");
    document.getElementById('practitionerLabel').hidden = true;
    var timeSlotSelect = document.getElementById('timeSlot');
    timeSlotSelect.disabled = true;
    timeSlotSelect.innerHTML = "";
    timeSlotSelect.add(createSelectPlaceholderElement("Select a Time Slot"));
  }
  else{
    var timeSlotSelect = document.getElementById('timeSlot');
    timeSlotSelect.disabled = true;
    timeSlotSelect.innerHTML = "";
    timeSlotSelect.add(createSelectPlaceholderElement("Select a Time Slot"));
    var service = document.getElementById('service');
    getPractitionersByDayAndService(service, e.target);
  }
  return;

});

// Adding event listener that listens for changes in the practitioner input element
document.getElementById("practitioner").addEventListener("change", function (e) {
  e.preventDefault();
  if (e.target.value !== "") {
    var bookingDate = document.getElementById('bookingDate');
    getTimeSlotsByDayAndPractitioner(bookingDate, e.target);
  }
  
});


// Adding event listener that submits the form when the submit button is clicked
document.getElementById("patient-booking-form").addEventListener("submit", function (e) {
   e.preventDefault();
   makePatientAppointmentBooking(this);
});

</script>

{% endblock %}