{% extends 'index.html' %}
{% block content%}
<p>patient page</p>

<form id ="patient-booking-form" method="post">
    {% csrf_token %}
    <input type="date" name="bookingDate">
    <select name="practitioner">
      <option value="doctor">Doctor</option>
      <option value="nurse">Nurse</option>
    </select>
    <button onclick="makePatientAppointmentBooking()">Book Appointment</button>
</form>

<script>

//document.getElementById("patient-booking-form").addEventListener("submit", function (e) {
//   e.preventDefault();
//   makePatientAppointmentBooking(e.target);
//   var formData = new FormData(document.getElementById('patient-booking-form'));
//   var token = "{{ csrf_token }}" ;
// });

// function makePatientAppointmentBooking(form) {
//     var formData = new FormData(form);
//     var token = "{{ csrf_token }}" ;

function makePatientAppointmentBooking() {
    var formData = new FormData(document.getElementById('patient-booking-form'));
    var token = "{{ csrf_token }}" ;
    
    fetch('patient_appointment_booking', {
    method: 'POST',
    headers: {
            'X-CSRFToken': token,
            'Content-Type': 'application/json'
             },
  
  body: JSON.stringify({'data':formData})
})
.then(response => response.json())
.then(data => {
  if (data.success) {
    // show success message
    // refresh page
    alert(data.success);
    alert(data.data);
    
    
  } else {
    
    alert(data.error);
  }
});

}

</script>

{% endblock %}