
body{
    margin: 0;
    font-family: 'Sofia Pro', 'Century Gothic';
}

#body-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background: #1985A1;
    
    padding-left: 10px;
    padding-right: 10px;
}

#logo{
    color: white;
}

#logo_container{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

#login_button{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

a{
    text-decoration: none;
    color: white;
}

#log_btn{
    display: block;
    padding: 15px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #1985A1;
}

.navbar{
    display: flex;
    overflow: hidden;
}

.navbar > a {
    margin: 10px;
    padding: 5px;
}

#menu_btn{
    display: none;  
}



.active{
    background-color: #C5C3C6;
}

@media screen and (max-width: 1000px){
    header{
        background: #1985A1;
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }
}

@media screen and (max-width: 1000px){
    .navbar{
        display: none;
    }
    
    #menu_btn_container{
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #menu_btn{
        display: block;
        padding: 15px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: #1985A1;
    }

    #login_button{
        display: none;
    }

    #overflow_navbar{
        display: none;
        color: black;
        text-align: left; 
        background-color: #1985A1;
        
    }

    #overflow_navbar > a{
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px 16px 10px 16px;
        transition: 0.5s;
        background-color: #1985A1;
    }

    #overflow_navbar > a:hover{
        background-color: #104f5f;
    }

    #logo_container{
        border-bottom: none;
    }
}


    
@media screen and (min-width: 1001px) {
    #overflow_navbar{
        display: none;
    }
        
}

#carousel{
    background: #C5C3C6;
    text-align: center;
    padding: 5%;
}

#speech_bubble1{
    background: #DCDCDD;
    text-align: center;
    padding: 5%;
}

#login_container{
    background: #1985A1;
    padding: 1%;
    border: 2px solid #1985A1;
    border-radius: 5px;
    width: 100%;
    max-width: 750px;  
}

.icon_bar{
    display: flex;
}

.icon_bar > div{
    margin: 1px;
    padding: 1px;
}

#form_info{
    padding: 2%;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid #C5C3C6;
    border-radius: 5px;
    outline: none;
    
}

input[type=text]:focus, input[type=password]:focus{
    border: 2px solid #3522CD;
    transition: 0.5s;
}

input[type=submit]{
    border: 2px solid #DCDCDD;
    border-radius: 8px;
    width: 100%;
}

#carousel{
    background: #C5C3C6;
    text-align: center;
}

#speech_bubble1{
    background: #DCDCDD;
    text-align: center;
}
#doc_icon, #nurse_icon, #patient_icon, #admin_icon{
    height:50px;
    width:50px;
}